/* header.css */
.main-info {
    display: flex;
    position: absolute; /* Change this to relative to position the slant-header properly */
    color: var(--font-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  /* Add the slant to the bottom of the header content */
  .slant-header {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }

  h1.particle {
    font-size: 4rem; /* Adjust the font size as desired */
    margin: 0;
    font-weight: 900;
  }
  
  span.particle {
    font-size: 3rem; /* Adjust the font size as desired */
    color: #ff9900;
    font-weight: 800; /* Set the second color for the typewriter effect */
  }
  