/* header.css */
.main-info {
    display: flex;
    position: absolute; /* Change this to relative to position the slant-header properly */
    color: var(--font-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  /* Add the slant to the bottom of the header content */
  .slant-header {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    height: 250px;
  }

  h1.particle {
    font-size: 5rem; /* Adjust the font size as desired */
    margin: 0;
    font-weight: 900;
  }
  
  span.particle {
    font-size: 5rem; /* Adjust the font size as desired */
    color: #ff9900;
    font-weight: 800; /* Set the second color for the typewriter effect */
  }

  /* Styles for the buttons */
.btnRes {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 10px; /* Spacing between the buttons */
}

.btn-download {
  background-color: #ff9900; /* Same color as the typewriter text */
  color: #ffffff; /* White text */
}

.btn-view {
  background-color: #ffffff; /* White button */
  color: #ff9900; /* Text color similar to the typewriter effect */
  border: 1px solid #ff9900; /* Border color similar to the typewriter effect */
}

/* Hover effects for the buttons */
.btn:hover {
  opacity: 0.9; 
}

.btn-download:hover {
  background-color: #e68000; /* A slightly darker shade of the button color */
}

.btn-view:hover {
  background-color: #ff9900; /* The same color as the typewriter text */
  color: #ffffff; /* White text */
}

/* Use media queries for responsive adjustments */
@media (max-width: 768px) {
  /* Smaller font size for smaller screens */
  h1.particle, span.particle {
    font-size: 3rem;
  }

  /* Smaller slant height for smaller screens */
  .slant-header {
    height: 150px;
  }

  /* Smaller buttons for smaller screens */
  .btnRes {
    padding: 8px 16px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  /* Even smaller font size for very small screens */
  h1.particle, span.particle {
    font-size: 2.5rem;
  }

  /* Adjust slant height and clip-path for smaller screens */
  .slant-header {
    height: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  /* Further reduce button size for very small screens */
  .btnRes {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}

  