@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

.App{
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

:root{
  --nav-color: hsl(210, 11%, 15%);
  --nav-color-hover: hsl(210, 11%, 45%);
  --nav-border-color: hsl(210, 11%, 45%);
  --light-color: hsl(209, 100%, 92%);
  --font-color: hsl(0, 0%, 100%);
  --font-color-hover: hsl(0, 0%, 40%);
}

#tsparticles{
  height: 100vh;
}

@media (min-width: 768px) {
  .slant-container {
    position: relative;
    background-color: var(--nav-color);
    margin-bottom: 2rem; /* To add some spacing between header and the next section */
    z-index: 0; /* Set a lower z-index to place it below other sections */
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%); /* Define the clip-path polygon */
  }
}
